<!DOCTYPE html>
<!-- Base template is used as a page skeleton for all of the pages that inherit from this template -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <script src="https://kit.fontawesome.com/c41a22bde2.js" crossorigin="anonymous"></script> 

    <!-- Import CSS bootstrap cdn links -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
      crossorigin="anonymous">

    <!-- Child templates can change this 'block' tagged as 'title' -->
    <title>{% block title %} Base {% endblock %}</title>

  </head>
  <body>
    {% include 'nav.html' %}
    <!-- add space for the nav bar so that it doesnt overlap the content of the pages -->
    <div style="height: 56px"></div>
    
    <!-- impliment flashed messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <div>{% block banner %} {% endblock %}</div>
    
    
    <div  class="container">{% block content %} {% endblock %}</div>






  
    <!-- Import JS bootstrap cdn link -->
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
      crossorigin="anonymous"
    ></script>
    {% include 'footer.html' %}
  </body>
</html>