<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-body-secondary">© SUUK 2023</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>MEN</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{{url_for('views.men_clothing')}}" class="nav-link p-0 text-body-secondary">Shirts</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.men_clothing')}}" class="nav-link p-0 text-body-secondary">Sweaters</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.men_clothing')}}" class="nav-link p-0 text-body-secondary">Jerseys</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.men_clothing')}}" class="nav-link p-0 text-body-secondary">Jackets</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.men_clothing')}}" class="nav-link p-0 text-body-secondary">Pants</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>WOMEN</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{{url_for('views.women_clothing')}}" class="nav-link p-0 text-body-secondary">Shirts</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.women_clothing')}}" class="nav-link p-0 text-body-secondary">Sweaters</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.women_clothing')}}" class="nav-link p-0 text-body-secondary">Jerseys</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.women_clothing')}}" class="nav-link p-0 text-body-secondary">Jackets</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.women_clothing')}}" class="nav-link p-0 text-body-secondary">Skirts</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.women_clothing')}}" class="nav-link p-0 text-body-secondary">Pants</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>ACCESSORIES</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{{url_for('views.accessories')}}" class="nav-link p-0 text-body-secondary">Watches</a></li>
        <li class="nav-item mb-2"><a href="{{url_for('views.accessories')}}" class="nav-link p-0 text-body-secondary">Bags</a></li>
      </ul>
    </div>
  </footer>
</div>